/* Estilos para el contenedor */
.container-tabla {
    text-align: center; /* Centrar el contenido */
}

/* Estilos para el botón */
#abrirModal {
    padding: 15px 30px; /* Ajusta el padding para hacer el botón más grande */
    font-size: 18px; /* Tamaño de fuente */
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 30px;
}

#abrirModal:hover {
    background-color: #45a049;
}


/* Estilos para la lista */
.container-table {
    margin-top: 20px; /* Margen superior */
}

.table-items {
    width: 100%; /* Ancho completo */
    border-collapse: collapse; /* Colapso de bordes */
}

.table-items th, .table-items td {
    border: 1px solid #ddd; /* Borde */
    padding: 8px; /* Espaciado interno */
    text-align: left; /* Alineación del texto */
}

.table-items th {
    color:#f2f2f2;
    background-color: #0e0c0c; /* Color de fondo para las cabeceras */
}

.table-items td:first-child {
    width: 100px; /* Establece el ancho deseado para la primera columna */
}


