:root {
    --primary-color: #c050a4;
    --secondary-color: #4f046d;
}

/* Estilo del fondo de la pagina */
body {
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;
    box-sizing: border-box;

    background-image: url('./imagenes/5153829.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}

/* Estilo del conatainer general */
.container-general {
    margin-left: 20%; 
    margin-right: 20%; 
    padding: 1rem;
}

/* Estilo del header */
header {
    padding: 20px 20px;
    background-color: grey;
    background-image: url(./imagenes/pexels-padrinan-255379.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  
    flex-direction: column;
    justify-content: space-between;
  
    height: 20vh;
  
    font-family: poppins, sans-serif;
}

.barra {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.barra img {
    width: 100px; 
    height: auto; 
}

.titulo {
    font-size: 36px; 
    color: #fffefe; 
    font-weight: normal; 
    margin-right: 20px; 
}

.titulo strong {
    font-weight: bold; 
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #082e80;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px; 
}

nav ul li a {
    text-decoration: none;
    color: var(--primary-color);
}

.barra ul li a img {
    width: 40px;
    height: auto; 
    border-radius: 50%; 
    transition: transform 0.3s ease; 
}

.barra ul li a img:hover {
    transform: scale(1.2); 
}

/* Estilos para dispositivos con una anchura máxima de 768px (tablets y dispositivos móviles) */
@media only screen and (max-width: 768px) {
    .container-general {
        margin-left: 5%; /* Reducir el margen izquierdo */
        margin-right: 5%; /* Reducir el margen derecho */
    }

    header {
        padding: 10px; /* Reducir el relleno del encabezado */
        height: 15vh; /* Reducir la altura del encabezado */
    }

    .barra img {
        width: 60px; /* Reducir el tamaño del logo */
    }

    .titulo {
        font-size: 24px; /* Reducir el tamaño del título */
    }

    nav ul li {
        margin-right: 10px; /* Reducir el margen entre elementos del menú */
    }

    .barra ul li a img {
        width: 30px; /* Reducir el tamaño de los íconos del menú */
    }
}

/* Estilos para dispositivos con una anchura máxima de 480px (dispositivos móviles) */
@media only screen and (max-width: 480px) {
    .container-general {
        margin-left: 3%; /* Reducir aún más el margen izquierdo */
        margin-right: 3%; /* Reducir aún más el margen derecho */
    }

    header {
        padding: 5px; /* Reducir aún más el relleno del encabezado */
        height: 10vh; /* Reducir aún más la altura del encabezado */
    }

    .barra img {
        width: 50px; /* Reducir aún más el tamaño del logo */
    }

    .titulo {
        font-size: 20px; /* Reducir aún más el tamaño del título */
    }

    nav ul li {
        margin-right: 5px; /* Reducir aún más el margen entre elementos del menú */
    }

    .barra ul li a img {
        width: 25px; /* Reducir aún más el tamaño de los íconos del menú */
    }
}

/*Estilo de footer*/
footer {
    position: fixed; /* Posición fija */
    bottom: 0; /* Se fija al fondo de la página */
    left: 0; /* Se ajusta al borde izquierdo de la ventana */
    width: 100%; /* Se extiende a lo ancho de la ventana */
    background-color: #444; /* Fondo gris */
    color: white; /* Color de letra blanco */
    padding: 20px; /* Espaciado interno */
    display: flex; /* Activa el uso de flexbox */
    justify-content: space-between; /* Distribuye los elementos horizontalmente */
    align-items: center; /* Alinea los elementos verticalmente */
}


